.product-btn {
  background: 0 0;
  color: #000;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 35px;
}
.allproduct-btn {
  padding: 12px 35px;
  font-weight: 600;
  background-color: #ffe9e3;
  border: 1px solid transparent;
  border-radius: 0;
  color: #333333;
}
.allproduct-btn:hover {
  background-color: #333333;
  transition: all 0.3s;
  color: #ffe9e3;
}
.product-btn:hover {
  background-color: #ffe9e3;

  border-color: #ffe9e2;
  transition: 0.5s;
}

.price {
  font-size: 22px;
  font-weight: 600;
}
